{% extends 'base.html.twig' %}

{% block title %}  Résultats ! {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/courses.css') }}">
{% endblock %}

{% block body_content %}

    <div class="col-lg-10 mx-auto mt-5 py-2">

        <div class="col-12 text-center ">

            <div class="col-12">
                <h1> Résultats </h1>
                <div class="col-6 mx-auto">
                    {% if average < 10 %}
                        <h3 class="text-center alert alert-danger text-danger py-1"> Moyenne
                            : {{ average | number_format(1) }} /20 </h3>
                    {% else %}
                        <h3 class="text-center alert alert-success  py-1"> Moyenne  : {{ average | number_format(1) }}
                            /20 </h3>
                    {% endif %}
                </div>
                <div class="alert alert-danger mx-auto col-6">
                    <i class="fas fa-heart" style="font-size: 32px;"></i> <h4> {{ rate|number_format(1) }} / 5</h4>
                </div>
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Etudiant</th>
                        <th scope="col">Cours</th>
                        <th scope="col">Exercices</th>
                        <th scope="col">Note (/20)</th>
                        <th scope="col">Avis (/5)</th>
                        <th scope="col">Remarques</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <th scope="row" width="15%">
                                <img src="{{ asset('img/profil_default_male.png') }}" class="userImgList" alt="">
                                {{ result.user.fullName }}
                            </th>
                            <td width="30%;">{{ result.course.title }}</td>
                            <td width="30%">
                                {% if result.results %}
                                {{ result.results|json_encode }}
                                {% else %}
                                    Nope
                                {% endif %}
                            </td>
                            <td>{{ result.score|number_format(2) }}</td>
                            <td>{{ result.rate|number_format(2) }}</td>
                            <td>
                                {% if result.score < 10 %}
                                    <i class="fas fa-exclamation" style="color: #ff384e;"> Défaillant</i>
                                {% elseif result.score >= 10 and result.score < 12 %}
                                    <i class="fas fa-exclamation-triangle" style="color: #e4ef46;"> Admis </i>
                                {% else %}
                                    <i class="fas fa-check" style="color: #3adb76;"> Bien</i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>


        </div>

    </div>

{% endblock %}

