{% extends 'base.html.twig' %}

{% block title %} Inscription ! {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body_content %}

    <div class="col-lg-7 col-sm-12 col-md-12 mt-3 mx-auto alert alert-primary text-center">
        <h2> Inscription à PaSon !</h2>
    </div>

    <div class="col-6 mx-auto text-center">
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <button type="submit" class="btn btn-primary btn-lg">
            S'inscrire
        </button>
        {{ form_end(registerForm) }}
    </div>
{#    <div class="col-lg-6 mx-auto mt-5 py-5">#}

{#        <div class="col-12 text-center ">#}

{#            <div class=" py-5 col-12 text-dark">#}
{#                <h1>  Bienvenue à Register !</h1>#}
{#                <div class="welcome">#}
{#                    <p> Trouvez un cours qui vous va le mieux ! </p>#}
{#                    <p> Pour Bénificier des fonctionnalités de ParSon Veuillez ... </p>#}
{#                </div>#}
{#                <!-- <div class="btn_">#}
{#                    <a href="/register" class="btn"> Commencer ! </a>#}
{#                </div> -->#}
{#            </div>#}

{#        </div>#}

{#    </div>#}

{% endblock %}

