<div class="col-lg-7 col-sm-12 col-md-12 mt-3 mx-auto alert alert-primary text-center">
    <h2> {{ title_text }}</h2>
</div>

<div class="col-6 mx-auto text-center">
    {{ form_start(courseForm) }}
    {{ form_row(courseForm.title,{
        attr: {
            placeholder: 'Titre du cours',
            class : 'text-center'
        }
    }) }}
    {{ form_row(courseForm.category,{
        attr: {
            placeholder: 'Catégorie du cours',
            class : 'text-center'
        }
    }) }}
    {{ form_row(courseForm.timeNeeded,{
        attr: {
            placeholder: 'Temps nécessaire',
            class : 'text-center'
        }
    }) }}
    {{ form_row(courseForm.description,{
        attr: {
            placeholder: 'Description du cours',
            class : 'text-center'
        }
    }) }}
    <div class="row">
        {% if courseForm.vars.data.imgUrl|default %}
            <div class="col-sm-9">
                {{ form_row(courseForm.imgFile,{
                    attr: {
                        placeholder: 'Selectionnez une image'
                    }
                }) }}
            </div>
            <div class="col-sm-3">
                    <img class="d-block w-100 border border-dark" src="{{ courseForm.vars.data.imgUrl }}">
            </div>
        {% else %}
            <div class="col-sm-12">
                {{ form_row(courseForm.imgFile,{
                    attr: {
                        placeholder: 'Selectionnez une image'
                    }
                }) }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary btn-lg">
        {{ btn_text }}
    </button>
    {{ form_end(courseForm) }}
</div>