{% extends 'base.html.twig' %}

{% block title %} Tout les Cours ! {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/courses.css') }}">
{% endblock %}

{% block body_content %}

    <div class="col-lg-12 mx-auto mt-3 pt-1">

        <div class="col-lg-12  ">

                <div class="col-lg-12  text-dark ">

                    <div class="row col-12 mb-3 courseImg">
                        <img style="height: 320px;object-fit: cover;" class="col-12" src="{{ asset('img/can_robots_beat_humans.jpg') }}" alt="">
                    </div>

                    <div class=" row col-lg-9 col-sm-10 courseDetails mx-auto px-5 mb-5">
                         <h1 class="courseTitle text-center"> {{ course.title }} </h1>
                    </div>

                    <div class="row col-lg-12 col-sm-6 courseDetails  d-flex flex-row">

                            {# Info Auteur #}
                            <div class=" col col-lg-4 col-sm-6 my-2 d-flex flex-column">
                                <a href="#">
                                    <img src="{{ asset('img/profil_default_male.png') }}" class="userImg" alt="">
                                </a>
                                <a href="#">
                                    {{ course.author.fullname }}
                                </a>
                                <a href="#" class="text-dark">
                                    {{ course.author.email }}
                                </a>
                                <p>
                                    Le {{ course.createdAt|date('d/m/Y') }} à {{ course.createdAt|date('H:i') }}
                                </p>
                            </div>

                            {# Info Heures et nb_students #}
                            <div class=" col-lg-5 col-sm-6 my-2 d-flex flex-column">
                                <img src="{{ asset('img/admin_icon.png') }}" alt="" class="sexeImg">
                                <a href="#">
                                        # étudiant(e)s inscrit(e)s
                                </a>
                                <a href="#">
                                    {{ course.users.count ? course.users.count : "Personne encore" }}
                                </a>
                                <a href="#" class="text-dark">
                                    Note moyenne : 12.5/20
                                </a>
                                <p>
                                    # volume horaire : {{ course.timeNeeded }} H
                                </p>
                            </div>

                            {# Cours notes !#}
                            <div class="col col-lg-3 col-sm-6 my-2 d-flex flex-column">
                                <a href="#">
                                    <img src="{{ asset('img/simple_icon.png') }}" class="sexeImg" alt="">
                                </a>
                                <a href="#">
                                    4.8/5
                                </a>
                                <a href="#" class="">
                                    Donnez Votre Avis
                                </a>
                            </div>

                    </div>

                    <hr class="divider">

                    {# Description du cours !#}
                    <div class="col-12 text-center mb-5">
                        <h2 class="text-left col-12"> Description :</h2>
                        <p>
                           {{ course.description }}
                        </p>
                    </div>
                    <hr>
                    {# Exercices #}
                    <div class="container">

                        <h2 class="text-left col-12 mb-5"> Exercices :</h2>

                        <div class="row ml-5">
                            {% for exercise in course.exercises %}
                                {% set theme=random(['text-light bg-primary','text-light bg-dark','text-light bg-info',
                                    'text-light bg-danger','text-light bg-success',
                                    'text-light bg-secondary','text-dark bg-warning'])  %}
                                <div class="card {{theme}} mb-3 mx-1" style="max-width: 18rem;">
                                    <div class="card-header">Le {{exercise.createdAt|date('d/m/Y à H:i') }}</div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title">{{ exercise.title|truncate(50) }}</h5>
                                        <p class="card-text">{{ exercise.type|capitalize }}</p>
                                        <a href="{{ path('exercise_detail',{'id':exercise.id}) }}" class="btn btn-outline-{{ theme=='text-dark bg-warning' ? 'dark': 'light'}}">
                                           Voir En Détail
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div><!-- /.row -->


                        {# Avis Sur Le cours !#}

                        <hr class="divider">
                        <h2 class="text-left col-12 mb-5"> Avis sur le cours :</h2>

                        {% for comment in course.comments %}
                        <div class="row ">
                            <div class="col-md-7">
                                <div class="user">
                                    <h2 class="userName">
                                        <a href="">
                                        <img src="{{ comment.user.imgUrl ? comment.user.imgUrl : asset('img/profil_default_male.png') }}" class="sexeImg" alt="">
                                            {{ comment.user.fullName }}
                                        </a>
                                         <h6 class="text-muted">{{ comment.createdAt|ago }}</h6></h2>
                                </div>
                                <p class="avis">
                                    {{ comment.description }}
                                </p>
                            </div>
                            <div class="col-md-5">
                                {% if comment.imgUrl %}
                                <img src="{{ comment.imgUrl }}" class="w-75" alt="" style="object-fit: cover">
                                {% endif %}
                            </div>
                        </div>

                        <hr class="divider">
                        {% endfor %}
                        {#<div class="row ">#}
                            {#<div class="col-md-7">#}
                                {#<div class="user">#}
                                    {#<h2 class="userName"><a href=""><img src="{{ asset('img/profil_default_male.png') }}" class="sexeImg" alt="">#}
                                            {#Aymen Djelid</a>#}
                                        {#<h6 class="text-muted">40 minutes ago</h6></h2>#}
                                {#</div>#}
                                {#<p class="avis">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.#}
                                    {#Praesent commodo cursus magna, vel scelerisque nisl consectetur.#}
                                    {#Fusce dapibus, tellus ac cursus commodo.#}
                                {#</p>#}
                            {#</div>#}
                            {#<div class="col-md-5">#}
                                {#<img src="{{ asset('img/course_default.jpg') }}" class="w-75" alt="" style="object-fit: cover">#}
                            {#</div>#}
                        {#</div>#}
                        <!-- /END AVIS  -->



                </div>

            <!-- <div class="btn_">
                <a href="/register" class="btn"> Commencer ! </a>
            </div> -->

        </div>

        </div>
    </div>

{% endblock %}

