{% extends 'base.html.twig' %}

{% block title %} Tout les Cours ! {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body_content %}

    <div class="col-lg-12 mx-auto mt-3 py-3">

        <div class="col-lg-12 text-center ">
            <h1>  Tout les cours disponibles !</h1>
            <div class="col-lg-12  text-dark d-flex flex-wrap">

                <div class="card ml-lg-5 mr-2" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('img/course_default.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('img/course_default.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mx-2" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('img/course_default.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- <div class="btn_">
                    <a href="/register" class="btn"> Commencer ! </a>
                </div> -->
            </div>

        </div>

    </div>

{% endblock %}

