{% extends 'base.html.twig' %}

{% block title %} Tout les Cours ! {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body_content %}

    <div class="col-lg-12 mx-auto mt-3 py-3">

        <div class="col-lg-12 text-center ">
            {% if courses|length > 0 %}
            <h1>  Tout les cours disponibles !</h1>
            {% for cours in courses %}
            <div class="col-lg-12  text-dark d-flex flex-wrap">

                <div class="card ml-lg-5 mr-2" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('img/course_default.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ cours.title }}</h5>
                        <p class="card-text">{{ cours.description }}</p>
                        <a href="#" class="btn btn-primary">Voir+</a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <h1>  Aucun cours pour le moment :/</h1>
            {% endif %}
                <!-- <div class="btn_">
                    <a href="/register" class="btn"> Commencer ! </a>
                </div> -->
            </div>

        </div>

    </div>

{% endblock %}

