{% extends 'base.html.twig' %}

{% block title %} Utilisateurs ! {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/users.css') }}">
{% endblock %}

{% block body_content %}

    <div class="col-lg-12 mx-auto mt-2 py-5">

        <div class="col-12 text-center ">

            <div class="col-12 text-dark">
                <div class="users col-12">

                    <h2> Utilisateurs !</h2>
                    <hr>

                    <table class="table bg-dark text-light">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom & Prénoms</th>
                            <th scope="col">Email</th>
                            <th scope="col">Sexe</th>
                            <th scope="col">Role</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <th scope="row">
                                    <img class="userImgList" src="{{ asset('img/profil_default_male.png') }}" alt="">
                                </th>
                                <td>{{ user.fullname }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <img class="sexeImgList" src="/img/{{ user.sexe ? "male" :"female" }}.png" alt="">
                                </td>
                                <td>
                                    <img class="sexeImgList" src="/img/{{ "ROLE_ADMIN" in user.roles ? "admin_icon" :"simple_icon" }}.png" alt="">
                                </td>
                                <td>
                                    <a href="">
                                        <i class="fas fa-pencil-alt text-warning"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                <!-- <div class="btn_">
                    <a href="/register" class="btn"> Commencer ! </a>
                </div> -->
            </div>

        </div>

    </div>
    </div>

{% endblock %}

