{% extends 'base.html.twig' %}

{% block title %} Ajouter un Exercice {% endblock %}

{% block body_content %}


    <div class="col-lg-7 col-sm-12 col-md-12 mt-3 mx-auto alert alert-primary text-center">
        <h2> Nouveau Exo </h2>
    </div>

    <div class="col-6 mx-auto text-center">
        {{ form_start(courseForm) }}
{#        {{ form_widget(courseForm) }}#}
        {{ form_row(courseForm.title) }}
        {{ form_row(courseForm.question) }}
        {{ form_row(courseForm.type) }}
{#        <ul id="solution-list">#}
{#            <button type="button"#}
{#                    class="add-instruction btn btn-info">#}
{#                <span><i class="fas fa-plus-circle"></i>#}
{#                </span> instruction </button>#}
{#        </ul>#}

        <button type="submit" class="btn btn-primary btn-lg">
            Valider
        </button>
        {{ form_end(courseForm) }}
    </div>
{#    {{  include('course/_form.html.twig',{#}
{#        title_text: 'Lancez votre nouveau exercice !',#}
{#        btn_text :  'Ajouter'#}
{#    }) }}#}

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <button type="button" class="add-instruction btn btn-secondary my-2"><span> <i class="fa fa-plus"></i></span> instruction</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="valid-ins">Valider</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.add-instruction').click(function (e) {
                var list = $('.modal-body');
                $('.modal').modal();


                newInstruction = "<input type=\"text\" placeholder=\"à vous...\"\n" +
                    "  class=\"form-control mt-2\">";

                var solutionList=$('#solution-list');
                var li= "<li class='my-1'>"+newInstruction.select(input)+" </li>";
                solutionList.append(li);

                list.append(newInstruction);
                console.log(list);

            });
        });
    </script>
{% endblock %}